.intro__span-accent {
    position: relative;
    max-width: 690px;
    max-height: 90px;
    padding: 0px;
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
}