.place__title {
    /*не понимаю, как сделать у 2, 3 и 5ого элемента высоту 76 не помогает nth-of-type ОШИБКА*/
    /*position: relative;*/
    display: flex;
    flex-direction: column-reverse;
    /*текст внизу строки*/
    max-width: 460px;
    max-height: 152px;
    margin-top: 80px;
    /*у всех карточек расстояние между карточкой сверху и следующим названием 80px*/
    margin-bottom: 0px;
    margin-left: 148px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        /*ОШИБКА дефтулзы показывают 330пх*/
        max-height: 92px;
        margin-top: 76px;
        /*88-12 что стоят в margin-top places*/
        margin-left: 24px;
        font-size: 42px;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;

    }
}

@media screen and (max-width: 320px) {
    .place__title {
        width: 288px;
        margin-top: 50px;
        /*во всех карточках после 1ой маржин 50*/
        margin-right: 16px;
        margin-left: 16px;
        line-height: 35px;
        font-size: 32px;
    }
}