.place__title {
    display: flex;
    /*текст внизу строки*/
    flex-direction: column-reverse;
    max-width: 460px;
    margin: 0px;
    /*у всех карточек расстояние между карточкой сверху и следующим названием 80px*/
    padding: 80px 0px 0px 0px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    /*1100 вместо 1024*/
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 950px) {
    /*950 вместо 768*/
    .place__title {
        max-width: 340px;
        /*88 - 12пх отступ сверху в places*/
        padding-top: 76px;
        font-size: 42px;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;

    }
}

@media screen and (max-width: 320px) {
    /*520 вместо 320*/
    .place__title {
        max-width: 288px;
        /*во всех карточках после 1ой маржин 50*/
        padding: 50px 0px 0px 0px;
        line-height: 35px;
        font-size: 32px;
    }
}