/*грани*/
* {
    outline: 1px solid red;
  }

.page {
    background-color: #2A2C2F;
    /*вместо 1280 ширины экрана ставим максимальную ширину контента 1184*/
    max-width: 1184px;
    /*благодаря max-width и margin создается контейнер*/
    margin: 0 auto;
    /*итак указан шрифт + альтернативный*/
    font-family: "Inter", Arial, sans-serif;
    box-sizing: border-box;
}