.photo-grid {
    /*max ширина контента 1280 - отступы по 48*/
    max-width: 1184px;
    margin: 92px auto 0px auto;
    display: grid;
    /*создали 4 колонки*/
    grid-template-columns: repeat(4, 284px);
    /*отступы для колонок*/
    column-gap: 16px;
    /*отступы для рядов*/
    row-gap: 16px;
    /*ОШИБКА у последнего ряда занулить margin-bottom*/
    overflow: hidden;
    justify-content: center;
}

@media screen and (max-width: 1250px) {
    /*1250 вместо 1024*/
    .photo-grid {
        /*1024 - отступы по 48*/
        max-width: 928px;
        grid-template-columns: repeat(3, 300px);
        column-gap: 14px;
        row-gap: 14px;
    }
}

@media screen and (max-width: 1000px) {
    /*вместо 768 ставим 1000*/
    .photo-grid {
        margin-top: 88px;
        grid-template-columns: repeat(2, 352px);
        column-gap: 16px;
        row-gap: 16px;
    }
}

@media screen and (max-width: 760px) {
    /*760 вместо 320*/
    .photo-grid {
        margin-top: 64px;
        grid-template-columns: repeat(1, 288px);
        column-gap: 16px;
        row-gap: 12px;
    }
}