.place__image {
    max-width: 460px;
    /*у всех карточек расстояние снизу от текста до фотки*/
    padding: 48px 0px 0px 0px;
}

@media screen and (max-width: 1024px) {
    /*1100 вместо 1024*/
    .place__image {
        max-width: 440px;
    }
}
@media screen and (max-width: 950px) {
    /*950 вместо 768*/
    .place__image {
        max-width: 340px;
    }
}
@media screen and (max-width: 400px) {
    /*400 вместо 320*/
    .place__image {
        /*если стоит 320 то скролл*/
        max-width: 288px;
        padding: 32px 0px 0px 0px;
    }
}