.intro__list {
    position: relative;
    max-width: 690px;
    min-height: 90px;
    margin: 0px;
    /*max ширина контента 1280 - 1184 это отступы по 48 пх а надо 148 поэтому + 100пх*/
    padding: 33px 0px 0px 100px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
}

@media screen and (max-width: 1024px) {
    .intro__list {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro__list {
        padding-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        max-width: 288px;
        padding-top: 34px;
        padding-left: 16px;
    }
}