.cover__subtitle {
    position: relative;
    /*если родитель - флексбокс z-index работает и без позиционирования*/
    z-index: 1;
    max-width: 360px;
    /*412 по бокам*/
    margin: 32px auto 245px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        /*по бокам 332px;*/
        margin-bottom: 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        /*по бокам 204px;*/
        margin-bottom: 115px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        /*по бокам по 16пх*/
        margin: 16px auto 33px auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}