.cover__subtitle {
    position: relative;
    /*если родитель - флексбокс z-index работает и без позиционирования*/
    z-index: 1;
    max-width: 360px;
    /*ИСПОЛЬЗОВАТЬ ПАДДИНГИ ТК КОНТЕНТ ВНУТРИ РОДИТЕЛЬСКОГО БЛОКА*/
    margin: 0px;
    /*разница паддигов междy subtitle и content*/
    padding: 32px 100px 0px 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    /*600 вместо 320*/
    .cover__subtitle {
        max-width: 288px;
        padding-top: 16px;
        padding-right: 0px;
        padding-left: 0px;
        font-size: 14px;
        line-height: 16px;
    }
}