.lead__title {
    position: relative;
    max-width: 720px;
    margin: 0px;
    /*280 отступ - 48 отступ у lead*/
    padding: 0px 232px 0px 232px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        /*152 - 48 у lead*/
        padding-right: 104px;
        padding-left: 104px;
    }
}
@media screen and (max-width: 900px) {
    /*900 вместо 768*/
    .lead__title {
        padding-right: 24px;
        padding-left: 24px;
    }
}
@media screen and (max-width: 760px) {
    .lead__title {
        /*мой промежуточный*/
        font-size: 42px;
        line-height: 46px;
    }
    
}
@media screen and (max-width: 370px) {
    /*370 вместо 320*/
    .lead__title {
        max-width: 288px;
        /*не правильно показаны пропорции ОШИБКА*/
        padding-right: 16px;
        padding-left: 16px;
        font-size: 40px;
        line-height: 44px;
    }
}