.footer__links {
    max-width: 465px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 700px) {
    /*700 вместо 320 чтоб не было скролла*/
    .footer__links {
        max-width: 158px;
        flex-direction: column;
    }
}