.lead__image {
    position: relative;
    max-width: 984px;
    margin-top: 64px;
    margin-right: 148px;
    margin-bottom: 0px;
    margin-left: 148px;
    /* через бэекграунд вставить картинку background: url(kalegin-michail-179870-unsplash.jpg);*/
}

@media screen and (max-width: 1200px) {
    /*вместо 1024 1200 чтоб не было скрола*/
    .lead__image {
        max-width: 928px;
        /*896px показывает почему-то*/
        margin-top: 56px;
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1000px) {
    /*900 вместо 768*/
    .lead__image {
        max-width: 768px;
        /*896px показывает почему-то*/
        margin-right: 0px;
        margin-left: 0px;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    /*800 вместо 320*/
    .lead__image {
        max-width: 320px;
        /*896px показывает почему-то*/
        margin-top: 40px;
    }
}