.lead__image {
    position: relative;
    max-width: 984px;
    margin: 0px;
    /*148px - 48 у lead*/
    padding: 64px 100px 0px 100px;
    /* через бэекграунд вставить картинку background: url(kalegin-michail-179870-unsplash.jpg);*/
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        padding: 56px 0px 0px 0px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 768px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        max-width: 320px;
        padding-top: 40px;
    }
}