.intro__text {
    position: relative;
    max-width: 690px;
    margin: 0px;
    /*max ширина контента 1280 - 1184 это отступы по 48 пх а надо 148 поэтому + 100пх*/
    padding: 40px 0px 0px 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .intro__text {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 720px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        padding-top: 40px;
        padding-left: 16px;
        max-width: 288px;
    }
}