.lead__subtitle {
    position: relative;
    max-width: 640px;
    margin: 0px;
    /*320пх - 48 у lead*/
    padding: 32px 272px 0px 272px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        /*192пх - 48 у lead*/
        padding-right: 144px;
        padding-left: 144px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        padding-right: 64px;
        padding-left: 64px;
    }
}


@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        padding-top: 16px;
        padding-right: 16px;
        padding-left: 16px;
        font-size: 16px;
        line-height: 20px;
    }
}