/* заменили везде max-height на min-height*/
.cover {
    margin: 92px 48px 92px 48px;
    max-width: 1184px;
    min-height: 740px;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin-top: 50px;
        /*90 - 40 нижний паддинг place__paragraphs*/
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin-top: 16px;
        /*66 - 40 нижний паддинг place__paragraphs*/
        margin-bottom: 64px;
    }
}