.cover__overlay {
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    max-width: 1184px;
    /*только благодаря AUTO margin-rigth и left картинка встала по центру*/
    /*справа и слева по 48пх*/
    margin: 92px auto 0px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /*пропорция картинки ширины к высоте*/
    aspect-ratio: 1.6;
    /*задали чтоб затемнение не перекрывало текст*/
    z-index: 0;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        max-width: 320px;
    }
}

.cover__overlay:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    /*прозрачность*/
    transition: 1s;
    background-color: #2A2C2F;
}

.cover__overlay:after {
    opacity: 0.8;
    background-color: #2A2C2F;
}