/*написать весь код для 1280 потом для меньших версий его раскидать по папкам и подключить ключи*/
.page {
    background-color: #2A2C2F;
    height: 6875px;
    max-width: 1280px; /*header выходит за рамки почему-то*/
    font-family: "Inter", "Arial", sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px; /*как её центрировать*/
    }
}
.header {
    border: 2px solid red;
    max-height: 136px;
    max-width: 1280px;
}
.header__logo {
    position: relative;
    max-width: 176px;
    max-height: 52px;
    margin-top: 28px;
    /*margin-bottom: 56px; если добавить то линки ниже лого встают*/
    margin-left: 48px;
    background: #2A2C2F;
    }
@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 142px;
        max-height: 42px;
        margin-top: 16px;
        margin-left: 16px;
    }
}
.header__lang-link { /*на 1024пх поплыли*/
    position: relative; /*доп паддинги появляются*/
    max-height: 28px;
    max-width: 30px;
    margin-top: 46px;
    margin-left: 931px; /*отступ от лого + встал в одну строку с ним*/
    border-radius: 0px;
    color: #FFFFFF;
font-family: 'Inter';
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: right;
text-decoration: underline;
}
@media screen and (max-width:1024px) {
    .header__lang-link {
        margin-left: 675px;
    }
}
@media screen and (max-width: 320px) { /*опять ниже нужного стоит ОШИБКА*/
    .header__lang-link {
        max-width: 22px;
        max-height: 20px;
        margin-top: 30px;
        margin-left: 84px;
    }
}
.header__lang-link:last-child {
    max-width: 29px;
    /*margin-left: 1203px;*/
    margin-left: 18px;
    /* переносится на строку вниз почему-то margin-right: 48px;*/
    text-decoration: none;
}
@media screen and (max-width: 320px) {
    .header__lang-link:last-child {
        max-width: 22px;
        max-height: 20px;
        margin-top: 30px;
        margin-right: 16px;
    }
}
.lead {
    border: 2px solid green;
    margin-top: 50px; /*136 отступ сверху - 86 весь header*/
}
@media screen and (max-width:1024px) {
    .lead {
        margin-top: 42px; /*128 отступ сверху - 86 header*/
    }
}
@media screen and (max-width:320px) {
    .lead {
        margin-top: 20px; /*на 22 меньше чем у предыдущего*/
    }
}
.lead__title {
    position: relative;
    /*box-sizing: border-box; cбоку торчит еще маржин*/
    max-height: 200px;
    max-width: 720px;
    margin-top: 0px;
    margin-right: 280px;
    margin-bottom: 0px;
    margin-left: 280px;
    border-radius: 0px;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
/* or 104% */
text-align: center;
color: #FFFFFF;
}
@media screen and (max-width:1024px) {
    .lead__title {
        margin-right: 152px;
        margin-left: 152px;
    }
}
@media screen and (max-width:768px) {
    .lead__title {
        margin-right: 24px;
        margin-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px; /*не правильно показаны пропорции ОШИБКА*/
        max-height: 88px;
        margin-right: 16px;
        margin-left: 16px;
        size: 40px;
        line-height: 44px;
    }
}
.lead__subtitle {
position: relative;
margin: 0px;
width: 640px;
height: 72px;
margin-top: 32px;
margin-right: 320px;
margin-bottom: 0px;
margin-left: 320px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
/* or 120% */
text-align: center;
color: #FFFFFF;
}
@media screen and (max-width:1024px) {
    .lead__subtitle {
        margin-right: 192px;
        margin-left: 192px;
    }
}
@media screen and (max-width:768px) {
    .lead__subtitle {
        margin-right: 64px;
        margin-left: 64px;
    }
}
@media screen and (max-width:320px) {
    .lead__subtitle {
        max-width: 288px;
        max-height: 40px;
        margin-top: 16px;
        margin-right: 16px;
        margin-left: 16px;
    }
}
.lead__image {
    position: relative;
    max-width: 984px;
    max-height: 615px;
    margin-top: 64px;
    margin-right: 148px;
    margin-bottom: 0px;
    margin-left: 148px;
/* через бэекграунд вставить картинку background: url(kalegin-michail-179870-unsplash.jpg);*/
}
@media screen and (max-width: 1024px) {
    .lead__image {
    max-width: 928px; /*896px показывает почему-то*/
    max-height: 560px;
    margin-top: 56px;
    margin-right: 48px;
    margin-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .lead__image {
    max-width: 768px; /*896px показывает почему-то*/
    max-height: 480px;
    margin-right: 0px;
    margin-left: 0px;
    }
}
@media screen and (max-width: 320px) {
    .lead__image {
    max-width: 320px; /*896px показывает почему-то*/
    max-height: 200px;
    margin-top: 40px;
    }
}
.lead__caption {
position: relative;
width: 158px;
height: 14px;
white-space: nowrap; /*текст в одну строку встал*/
margin-top: 8px;
margin-bottom: 0px;
margin-left: 148px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */
letter-spacing: 1.5px;
text-transform: uppercase;
color: #FFFFFF;
}
@media screen and (max-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}
.intro {
border: 2px solid red;
margin: 0;
}
.intro__title {
position: relative;
width: 690px;
height: 58px;
margin-top: 92px;
margin-left: 148px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
/* identical to box height, or 107% */
color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .intro__title {
    margin-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .intro__title {
    max-width: 720px;
    max-height: 58px;
    margin-top: 88px;
    margin-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .intro__title {
    max-width: 288px; /*опять текст неправильно свернулся*/
    max-height: 70px;
    margin-top: 64px;
    margin-left: 16px;
    font-size: 32px;
line-height: 35px;
    }
}
.intro__text {
    position: relative;
    max-width: 690px;
    max-height: 208px;
    margin-top: 40px;
    margin-left: 148px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .intro__text {
    margin-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .intro__text {
    margin-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .intro__text {
    margin-top: 40px;
    margin-left: 16px;
    max-width: 288px;
    max-height: 520px;
    }
}
.intro__list { /*цифры не должны быть жирные ОШИБКА*/
position: relative;
max-width: 690px;
max-height: 90px;
padding: 0px;
margin-top: 33px;
margin-left: 148px;
margin-bottom: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* or 150% */
color: #FFFFFF;
list-style: none;
}
@media screen and (max-width: 1024px) {
    .intro__list {
    margin-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .intro__list {
    margin-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .intro__list {
    max-width: 288px;
    max-height: 90px;
    margin-top: 34px;
    margin-left: 16px;
    }
}
.photo-grid {
    border: 2px solid red;
    margin: 92px 0px 0px 0px;
    display: grid;
    /*создали 4 колонки*/
    grid-template-columns: repeat(4, 284px);
    /*отступы для колонок*/
    column-gap: 16px;
    /*три ряда*/
    grid-template-rows: repeat(3,213px);
    /*отступы для рядов*/
    row-gap: 16px; 
    /*ОШИБКА у последнего ряда занулить margin-bottom*/
    overflow: hidden;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
        column-gap: 14px;
        row-gap: 14px;
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        margin-top: 88px;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 264px);
        column-gap: 16px;
        row-gap: 16px;
    }
}
@media screen and (max-width: 320px) {
    .photo-grid {
        margin-top: 64px;
        grid-template-columns: repeat(1, 288px);
        grid-template-rows: repeat(12, 216px);
        column-gap: 16px;
        row-gap: 12px;
    }
}
.photo-grid__item {
max-width: 284px;
max-height: 213px;
display: inline-grid;
margin-right: 48px;
margin-left: 48px;;
}
@media screen and (max-width: 1024px) {
    .photo-grid__item {
        max-width: 300px;
        max-height: 225px;
    }
}
@media screen and (max-width: 768px) {
    .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
        margin-right: 24px;
        margin-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .photo-grid__item {
        max-width: 288px;
        max-height: 216px;
        margin-right: 16px;
        margin-left: 16px;
    }
}
.places {
border: 2px red solid;
max-width: 1280px;
/*margin: 0 auto; */
margin-top: 12px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
padding: 0px;
color: #FFFFFF;
font-family: 'Inter';
box-sizing: border-box;
}
.place {
border: 2px white solid;    
margin: 0px;
padding: 0px;
display: grid;
/*создали 2 колонки 460px 1fr*/
grid-template-columns: 47% 53%;
/*отступы для колонок*/
grid-column-gap: 40px;
box-sizing: border-box;
/*три ряда*/
/*и без этого должно сработать grid-template-rows: auto auto;*/
}
.place__title { /*не понимаю, как сделать у 2, 3 и 5ого элемента высоту 76 не помогает nth-of-type ОШИБКА*/
border: 2px solid green;
/*position: relative;*/
display: flex;
flex-direction: column-reverse; /*текст внизу строки*/
max-width: 460px;
max-height: 152px;
margin-top: 80px; /*у всех карточек расстояние между карточкой сверху и следующим названием 80px*/
margin-bottom: 0px;
margin-left: 148px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */
color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
        margin-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px; /*ОШИБКА дефтулзы показывают 330пх*/
        max-height: 92px;
        margin-top: 76px; /*88-12 что стоят в margin-top places*/
        margin-left: 24px;
font-size: 42px;
line-height: 46px;
letter-spacing: 0em;
text-align: left;

    }
}
@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        margin-top: 52px; /*64 - 12*/
        margin-left: 16px;
        font-size: 42px;
line-height: 46px;
    }
}
.place__image {
    max-width: 460px;
    max-height: 460px;
    margin-top: 48px; /*у всех карточек расстояние снизу от текста до фотки*/
    margin-bottom: 0px;
    margin-left: 148px;
}
@media screen and (max-width: 1024px) {
    .place__image { 
        max-width: 440px;
        max-height: 440px;
        margin-left: 48px;
}
}
@media screen and (max-width: 768px) {
    .place__image { 
        max-width: 340px;
        max-height: 340px;
        margin-left: 24px;
}
}
@media screen and (max-width: 320px) {
    .place__image { 
        max-width: 320px;
        max-height: 320px;
        margin-top: 32px;
        margin-right: 0px;
        margin-left: 0px;
}
}
.place__website {
    border: 2px solid green;
    position: relative;
    max-width: 456px; /*484px*/
    max-height: 46px;
    margin-top: 186px; /*198пх - 12пх и 110-12пх в places*/
    margin-right: 176px; /*если маржин левый удалить, встает ровно, не выходя за блок*/
    margin-bottom: 0px;
}
@media screen and (max-width: 1024px) {
    .place__website {
        margin-right: 48px;
    }
}
@media screen and (max-width: 768px) {
    .place__website {
        margin-top: 134px;
        margin-right: 24px; /*маржин выпирает за грань блока*/ 
        max-width: 352px;
    }
}
@media screen and (max-width: 768px) {
    .place__website {
        margin-top: 32px;
        margin-right: 16px; /*маржин выпирает за грань блока*/ 
        max-width: 288px;
    }
}
/*place__website margin-top 110px у 2 3 и 5 элементов + у них же height title 76px а не 152 
у 1 и 4 margin-top: 186px height title 152px ОШИБКА тоже не работает
.place__website:nth-of-type(2) {
    margin-top: 98px;
}
.place__website:nth-child(3) {
    margin-top: 98px;
}
.place__website:nth-child(5) {
    margin-top: 98px;
} */
.place__website:nth-of-type(5n) {
    margin-top: 98px;
} 

.place__website__url-heading {
position: relative;
width: 456px; /*все равно дефтулзы показывают меньше*/
max-height: 12px;
margin-top: 0px;
/*margin-right: 176px;*/
margin-bottom: 0px;
/*margin-left: 40px;*/
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */
letter-spacing: 2px;
color: #AAAAAA;
}
.place__website__link {
   position: relative;
    width: 456px;
    max-height: 22px;
    padding-top: 12px; /*222 по макету - 12пх из places*/
    /*margin-right: 176px; когда псевдокласс делаю для отступа 110пх не работает*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
}
.place__paragraphs {
    border: 2px solid green;
    max-width: 484px;
    margin: 48px 148px 40px 0px;
}
@media screen and (max-width: 1024px) {
    .place__paragraphs {
margin-right: 48px; /*выходит за рамки блока*/
max-width: 456px;
    }
}
@media screen and (max-width: 768px) {
    .place__paragraphs {
margin-right: 24px;
max-width: 352px;
    }
}
@media screen and (max-width: 320px) {
    .place__paragraphs {
max-width: 288px;
margin-right: 16px;
margin-left: 16px;
    }
}
.place__paragraph {
box-sizing: content-box;
position: relative;
max-width: 484px;
margin: 0px 0px 0px 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
/* or 29px */
color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .place__paragraph {
max-width: 456px;
    }
}
/*@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
    }
    }*/
.place__paragraph:last-child {
    margin-top: 26px;
}
@media screen and (max-width: 768px) {
.place__paragraph:last-child {
    margin-top: 25px;
}
}

.cover {
margin: 92px 48px 92px 48px;
max-width: 1184px;
max-height: 740px;
}
@media screen and (max-width: 1024px) {
    .cover {
max-width: 1024px;
max-height: 640px;
margin-right: 0px;
margin-left: 0px;
    }
}
@media screen and (max-width: 768px) {
    .cover {
max-width: 768px;
max-height: 480px;
margin-top: 50px; /*90 - 40 нижний паддинг place__paragraphs*/
margin-bottom: 88px;
    }
}
@media screen and (max-width: 320px) {
    .cover {
max-width: 320px;
max-height: 200px;
margin-top: 16px; /*66 - 40 нижний паддинг place__paragraphs*/
margin-bottom: 64px;
    }
}
.cover__title {
    border: 2px solid green;
    position: relative; /*если родитель - флексбокс z-index работает и без позиционирования*/
    z-index: 1;
    width: 560px;
    height: 152px;
    padding: 245px 312px 0px 312px;
    margin: 0px;
    /* если я включу font-family: "Inter"; текст будет выглядеть не как в макете*/
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .cover__title {
padding-top: 195px;
padding-right: 232px;
padding-left: 232px;
    }
}
@media screen and (max-width: 768px) {
    .cover__title {
padding-top: 115px;
padding-right: 104px;
padding-left: 104px;
    }
}
@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
padding-top: 33px;
padding-right: 16px;
padding-left: 16px;
size: 32px;
line-height: 35px;
    }
}
.cover__subtitle {
    border: 2px solid blue;
    position: relative; /*если родитель - флексбокс z-index работает и без позиционирования*/
    z-index: 1; /*задали чтоб затемнение не перекрывало текст*/
    width: 360px;
    height: 66px;
    margin: 0px;
    padding: 32px 412px 245px 412px;
    /* если я включу font-family: "Inter"; текст будет выглядеть не как в макете*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .cover__subtitle {
padding-right: 332px;
padding-bottom: 195px;
padding-left: 332px;
    }
}
@media screen and (max-width: 768px) {
    .cover__subtitle {
padding-right: 204px;
padding-bottom: 115px;
padding-left: 204px;
    }
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
max-width: 288px;
padding-right: 16px;
padding-bottom: 33px;
padding-left: 16px;
font-weight: 400;
font-size: 14px;
line-height: 16px;
    }
}
.cover__overlay {
background-image: url("../images/cover-trains.jpg");
background-size: cover;
/*width: 100%;*/
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
position: relative; /*чтоб только на секцию растягивалось затемнение а не на весь экран*/
text-decoration: none;
aspect-ratio: 1.6; /*пропорция картинки ширины к высоте*/
z-index: 0; /*задали чтоб затемнение не перекрывало текст*/
}
.cover__overlay:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.3; /*прозрачность*/
    transition: 1s;
    background-color: #2A2C2F;
}
.cover__overlay:after {
opacity: 0.8;
background-color: #2A2C2F;
}

.footer {
/*border: 2px solid green;*/
/*padding: 92px 48px 24px 48px;
margin: 0px;
max-width: 1184px;
max-height: 18px;*/
margin-right: 48px;
margin-left: 48px;
}
.footer__container {
border: 2px solid red;
padding: 0px 0px 24px 0px;
margin: 0px;
max-width: 1184px;
max-height: 18px;
}
.footer__links {
display: flex;
flex-direction: row;
max-width: 465px; /*1280 - отступы*/
/*box-sizing: border-box;*/
/*margin-right: 767px;*/
}
@media screen and (max-width: 320px) {
    .footer__links {
        max-width: 158px;
flex-direction: column;
margin-left: 16px;
    }
}
.footer__link {
/*position: absolute;
width: 50px;
height: 18px;*/
padding-top: 0px;
padding-right: 18px;
padding-left: 0px;
text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
}
.footer__link:last-of-type {
    padding-right: 0px;
}
.footer__author { /*поднять на уровень с ссылками ОШИБКА*/
    display: flex;
    width: 186px;
    height: 16px;
    margin: 0px 0px 0px 998px; /*998px = 1046px - 48px; даже если поставить 533пх не встает в один ряд с ссылками ОШИБКА*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .footer__author {
        margin-left: 742px; /*790 - 48*/
    }
}
@media screen and (max-width: 768px) {
    .footer__author {
        margin-left: 534px; /*558 - 24*/
    }
}