/*написать весь код для 1280 потом для меньших версий его раскидать по папкам и подключить ключи*/
.page {
    background-color: #2A2C2F;
    height: 6875px;
    max-width: 1280px; /*header выходит за рамки почему-то*/
    font-family: "Inter", "Arial", sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    border: 2px solid red;
    height: 136px;
}
.header__logo {
    position: relative;
    width: 176px;
    height: 52px;
    top: 28px;
    right: 1056px;
    bottom: 6795px;
    left: 48px;
    background: #2A2C2F;
    }
.header__lang-link {
    position: relative; /*доп паддинги появляются*/
    height: 28px;
    width: 30px;
    margin-top: 46px;
    /*margin-right: 95px;*/
    margin-left: 1155px;
    border-radius: 0px;
    color: #FFFFFF;
font-family: 'Inter';
font-size: 24px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: right;
text-decoration: underline;
}
.header__lang-link:last-child {
    width: 29px;
    /*margin-left: 1203px;*/
    margin-left: 18px;
    text-decoration: none;
}

.lead {
    border: 2px solid red;
}
.lead__title {
    position: relative;
    /*box-sizing: border-box; cбоку торчит еще маржин*/
    height: 200px;
    width: 720px;
    margin-top: 0px;
    margin-right: 280px;
    margin-bottom: 0px;
    margin-left: 280px;
    border-radius: 0px;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
/* or 104% */
text-align: center;
color: #FFFFFF;
}
.lead__subtitle {
position: relative;
margin: 0px;
width: 640px;
height: 72px;
margin-top: 32px;
margin-right: 320px;
margin-bottom: 0px;
margin-left: 320px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
/* or 120% */
text-align: center;
color: #FFFFFF;
}
.lead__image {
    position: relative;
    width: 984px;
    height: 615px;
    margin-top: 64px;
    margin-right: 148px;
    margin-bottom: 0px;
    margin-left: 148px;
/* через бэекграунд вставить картинку background: url(kalegin-michail-179870-unsplash.jpg);*/
}
.lead__caption {
position: relative;
width: 158px;
height: 14px;
white-space: nowrap; /*текст в одну строку встал*/
margin-top: 8px;
margin-bottom: 0px;
margin-left: 148px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */
letter-spacing: 1.5px;
text-transform: uppercase;
color: #FFFFFF;
}

.intro {
border: 2px solid red;
margin: 0;
}
.intro__title {
position: relative;
width: 690px;
height: 58px;
margin-top: 92px;
margin-left: 148px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
/* identical to box height, or 107% */
color: #FFFFFF;
}
.intro__text {
    position: absolute;
    width: 690px;
    height: 208px;
    margin-top: 40px;
    margin-left: 148px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    color: #FFFFFF;
}
.intro__list { /*цифры не должны быть жирные ОШИБКА*/
position: relative;
width: 690px;
height: 90px;
padding: 0px;
margin-top: 281px;
margin-left: 148px;
margin-bottom: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* or 150% */
color: #FFFFFF;
list-style: none;
}

.photo-grid {
    border: 2px solid red;
    margin: 92px 0px 0px 0px;
    display: grid;
    /*создали 4 колонки*/
    grid-template-columns: repeat(4, 284px);
    /*отступы для колонок*/
    column-gap: 16px;
    /*три ряда*/
    grid-template-rows: repeat(3,213px);
    /*отступы для рядов*/
    row-gap: 16px; 
    /*ОШИБКА у последнего ряда занулить margin-bottom*/
    overflow: hidden;
}
.photo-grid__item {
width: 284px;
height: 213px;
display: inline-grid;
margin-right: 48px;
margin-left: 48px;;
}

.cards {
border: 2px red solid;
margin-top: 12px;
}
.cards__item {
border: 2px green solid;
list-style: none;
padding: 0px;
display: grid;
/*создали 2 колонки*/
grid-template-columns: 460px, 524px;
/*отступы для колонок*/
column-gap: 40px;
/*три ряда*/
grid-template-rows: repeat(5, 460px) orange solid;
}
.cards__title {
position: relative;
width: 460px;
height: 152px;
margin-top: 80px; /*у всех карточек расстояние сверху от текста до фотки*/
margin-bottom: 0px;
margin-left: 148px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */
color: #FFFFFF;
}
.cards__image {
    position: relative;
    width: 460px;
    height: 460px;
    margin-top: 48px; /*у всех карточек расстояние снизу от текста до фотки*/
    margin-bottom: 0px;
    margin-left: 148px;
display: inline-grid;
border: 2px solid white;
}
.cards__website {
    position: relative;
    margin-top: 198px;
    margin-right: 176px;
    margin-bottom: 0px;
    margin-left: 648px;
}
.cards__website__url-heading {
    /*position: relative;
    width: 456px;
    height: 12px;
    margin-top: 106px;
    margin-right: 176px;
    margin-left: 648px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    /* or 20px */
    letter-spacing: 2px;
    color: #AAAAAA;*/
}
.cards__website__link {
   /* position: relative;
    width: 456px;
    height: 22px;
    margin-top: 222px;
    margin-left: 648px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;*/
}
.cards__paragraph {
    /*display: inline-grid;
    border: 2px solid green;*/
position: relative;
width: 484px;
height: 145px;
margin-top: 292px;
margin-right: 148px;
margin-bottom: 0px;
margin-left: 648px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
/* or 29px */
color: #FFFFFF;
}