.lead__caption {
    position: relative;
    max-width: 158px;
    /*текст в одну строку встал*/
    white-space: nowrap;
    margin: 0px;
    /*148 - 48 lead*/
    padding: 8px 0px 0px 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
    .lead__caption {
        padding-left: 0px;
    }
}
@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .lead__caption {
        padding-left: 16px;
    }
}