.place__website {
    position: relative;
    max-width: 456px;
    /*484px*/
    margin-top: 186px;
    /*198пх - 12пх и 110-12пх в places*/
    margin-right: 176px;
    /*если маржин левый удалить, встает ровно, не выходя за блок*/
    margin-bottom: 0px;
}

@media screen and (max-width: 1200px) {
    /*1200 вместо 1024*/
    .place__website {
        margin-right: 48px;
    }
}

@media screen and (max-width: 1000px) {
    /*1000 вместо 768*/
    .place__website {
        margin-top: 134px;
        margin-right: 24px;
        /*маржин выпирает за грань блока*/
        max-width: 352px;
    }
}

@media screen and (max-width: 700px) {
    /*вместо 320 700*/
    /*все равно торчит сбоку*/
    /*не встает под title*/
    .place__website {
        margin-top: 0px;
        padding-top: 32px;
        margin-right: 16px;
        margin-left: 16px;
        max-width: 288px;
    }
}

.place__website:nth-of-type(5n) {
    margin-top: 98px;
}