.place__website {
    position: relative;
    max-width: 456px;
    /*198пх - 92пх*/
    padding: 106px 0px 0px 0px;
    margin: 0px;
}

@media screen and (max-width: 1024px) {
    /*1200 вместо 1024*/
    .place__website {
    }
}

@media screen and (max-width: 950px) {
    /*950 вместо 768*/
    .place__website {
        /*134 отступ - 88 отступ у title*/
        padding-top: 46px;
        max-width: 352px;
    }
}
@media screen and (max-width: 600px) {
    /*600 вместо 320*/
    .place__website {
        padding-top: 32px 0px 0px 0px;
        max-width: 288px;
    }
}

.place__website:nth-of-type(5n) {
    margin-top: 98px;
}